[submodule "test_source"]
	path = test_source
	url = https://github.com/pvermeer/rpm-tools
	branch = copr_test_source
[submodule "test_source2"]
	path = test_source2
	url = https://github.com/pvermeer/rpm-tools
	branch = copr_test_source2
