name: COPR build

on:
  workflow_call:
    inputs:
      spec_file:
        description: Spec-file path
        required: true
        type: string

      copr_owner:
        description: COPR owner
        required: true
        type: string

      copr_project:
        description: COPR project
        required: true
        type: string

      copr_package:
        description: COPR package name
        required: true
        type: string

      check_patched_files_script:
        description: A script to check files after patching
        required: false
        type: string

    secrets:
      COPR_WEBHOOK:
        description: COPR webhook (SECRET)
        required: true

jobs:
  build_rpm_copr:
    runs-on: ubuntu-latest
    name: Build rpm on COPR
    timeout-minutes: 5
    permissions:
      contents: write
    env:
      SPEC_FILE: ${{ inputs.spec_file }}
      COPR_OWNER: ${{ inputs.copr_owner }}
      COPR_PROJECT: ${{ inputs.copr_project }}
      COPR_PACKAGE: ${{ inputs.copr_package }}
      COPR_WEBHOOK: ${{ secrets.COPR_WEBHOOK }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RPM_SPEC_UPDATE: "false"
      COPR_STATUS: "null"

    steps:
      - name: Checkout rpm-tools
        uses: actions/checkout@v4
        with:
          repository: pvermeer/rpm-tools
          path: rpm-tools

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
          path: repo

      - name: Update RPM
        run: |
          cd repo
          ../rpm-tools/rpm-tool update --update-submodules --apply-patches --disable-self-update
          source $XDG_RUNTIME_DIR/rpm-tool-vars
          echo "RPM_SPEC_UPDATE=$RPM_SPEC_UPDATE" >> $GITHUB_ENV

      - name: Check patched files
        if: ${{ inputs.check_patched_files_script }}
        run: |
          cd repo
          ${{ inputs.check_patched_files_script }}

      - name: Check COPR status
        run: |
          cd repo
          ../rpm-tools/rpm-tool copr-status --disable-self-update || true
          source $XDG_RUNTIME_DIR/rpm-tool-vars
          echo "COPR_STATUS=$COPR_STATUS" >> $GITHUB_ENV

      - name: Commit changes
        if: ${{ env.RPM_SPEC_UPDATE == 'true' }}
        run: |
          cd repo
          git config --local user.email "action@github.com"
          git config --local user.name "CI"
          git --no-pager diff --color=always
          echo ""
          git commit -a -m "build(github-actions): automated update [skip ci]" || true
          git push

      - name: Build on COPR
        if: ${{ env.RPM_SPEC_UPDATE == 'true' || env.COPR_STATUS == 'failed' }}
        run: |
          cd repo
          ../rpm-tools/rpm-tool copr-build --disable-self-update
